/* Fonts */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/montserrat-v24-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v24-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/montserrat-v24-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v24-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/oswald-v48-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/oswald-v48-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Common */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #060D10;
}

.container {
  width: 1278px;
  margin: 0 auto;
}

/* Header */
.header {
  padding: 31px 0;
  background-color: #66D1FF;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-btn {
  display: inline-block;
  min-width: 276px;
  height: 45px;
  margin: 0;
  padding: 5px 39px;
  color: #060D10;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  text-align: center;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.logo {
  width: 296px;
  height: 51px;
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.phone {
  margin: 0;
  color: #060D10;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-decoration: none;
}

/* Promo */
.promo {
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #060D10;
  background-color: rgba(6, 13, 16, 0.25);
  background-image: url('../images/promo-main-picture.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo-fade {
  padding: 240px 0 260px 0;
  background-color: rgba(6, 13, 16, 0.25);
}

.promo-title {
  margin: 0 0 60px 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-transform: uppercase;
  text-align: center;
}

.promo-tagline {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}

/* Advantages */
.advantages {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(102, 209, 255, .1);
  padding: 170px 0 170px 0;
}

/* .advantages-container {
  border-bottom: 1px solid #000;
} */

.advantages-title {
  margin: 0 0 100px 0;
  font-size: 48px;
  line-height: 167%;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.advantages-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -70px;
}

.advantages-item {
  padding: 15px;
  flex-basis: 33.3%;
}

.advantages-item-title {
  font-size: 32px;
  line-height: 167%;
  font-weight: 500;
  text-transform: uppercase;
}

.advantages-text {
  margin-top: 25px;
  margin-bottom: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 140%;
}

/* Lead */
.lead {
  padding: 0 0 180px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  background: linear-gradient(201deg, rgb(102, 209, 255, .1) 43.85%, rgba(196, 196, 196, 0) 43.86%);
}

.lead-container {
  padding-top: 170px;
  border-top: 1px solid rgba(6, 13, 16, 1);
}

.lead-title {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
  text-align: center;
  text-transform: uppercase;
}

.lead-btn {
  display: inline-block;
  min-width: 505px;
  margin: auto;
  padding: 18px 104px 18px 104px;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  color: #060D10;
  border: 3px solid #060D10;
  border-radius: 4px;
  background-color: rgb(255, 255, 255, .1);
}

.photo-lead-wrapper {
  display: flex;
  margin: 130px -15px 0 -15px;
}

.photo-lead-box {
  flex-basis: 25%;
  padding: 0 15px 0 15px;
}

.photo-lead {
  width: 100%;
  background-color: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

/* Footer */
.footer {
  padding: 35px 0;
  background: #060D10;
  color: #FFFFFF;
}

.footer-wrapper {
  display: flex;
  align-items: center;
}

.footer-link-social {
  display: flex;
  align-items: center;
}

.footer-link {
  width: 171px;
  height: 33px;
  margin: 0 0 0 17px;
  font-size: 20px;
  line-height: 167%;
  text-align: center;
}

.copyrights {
  margin-left: auto;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  mix-blend-mode: normal;
}

.social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icon {
  margin-left: 20px;
}

.twit {
  margin-left: 50px;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
