/* Fonts */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v24-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v24-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v24-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v24-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/oswald-v48-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v48-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* Common */
* {
    box-sizing: border-box;
}

body {
    margin: 0; /*Удалены внешние отступы от всего документа */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #060D10;
}

.container {
    width: 1278px;
    margin: 0 auto;
}
/* Header */
.header {
    padding: 31px 0;
    background-color: #66D1FF;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.header-btn {
    display: block;
    width: 276px;
    height: 45px;
    margin: 0;
    padding: 8px 39px; /* значения 8 и 41 из макета не центрируют текст */
    color: #060D10;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    text-align: center;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
}

.logo {
    width: 296px;
    height: 51px;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.phone {
    margin: 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
}

/* Promo */
.promo {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #060D10;
    background: linear-gradient(0deg, rgba(6, 13, 16, 0.25), rgba(6, 13, 16, 0.25)), url(.jpg);
    background-image: url('../images/promo.png');
    background-repeat: no-repeat;
    background-size: cover; /*разобраться - cover или contain*/
    background-position: center;
    /*Разбираться с размером background*/
}

.promo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Править расстояния между надписями и между надписями и границами блока*/
}

.promo h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    text-transform: uppercase;
    text-align: center;
}

.promo p {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

/* Advantages */
.advantages {
    font-family: 'Oswald', sans-serif;
    /* background: #66D1FF;
    mix-blend-mode: normal;
    opacity: 0.1; */
}

.advantages h2 {
    font-size: 48px;
    line-height: 167%;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.advantages-title {
    font-size: 32px;
    line-height: 167%;
    font-weight: 500;
    text-transform: uppercase;
}

.advantages-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
}
/* Lead */
.lead-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.lead h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 167%;
    text-align: center;
    text-transform: uppercase;
}

.lead-btn {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    /* text-align: center; если задается внешний блочный */
    text-decoration: none;
    color: #060D10;
}

.photo-lead {
    width: 297px;
    height: 297px;
    /* background-color: #C4C4C4; */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

/* Footer */
.footer {
    padding: 35px 0;
    background: #060D10;
    color: #FFFFFF;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-link {
    width: 171px;
    height: 33px;
    margin: 0;
    font-size: 20px;
    line-height: 167%;
    text-align: center;
}

.copyrights {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    mix-blend-mode: normal;

}

.social {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icon {
    margin-left: 20px;
}

.social-link {
    display: block;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
